body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#first-section,
.nav-bar,
.nav-links,
.main-text,
.main-stuff,
#second-section,
.images,
.image,
#third-section {
    display: flex;
}


#first-section {
    background-color: #1F2937;

    color: white;
    flex-direction: column;
    padding: 8px 350px 150px 350px;
    gap: 90px;

}

.nav-bar {

    justify-content: space-between;
}

.nav-links {

    gap: 16px;

}

.main-text {

    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    max-width: 450px;


}

.main-stuff {

    justify-content: space-between;

}


img {
    max-width: 600px;
    max-height: 300px;
    flex: 1;
    object-fit: cover;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Header,
.main-title,
button,
.bold-info,
#quotee {
    font-weight: 900;
}

.Header,
.main-title,
button {
    color: #F9FAF8;
}

.Header,
#quotee {
    font-size: 24px;
}

.main-title {
    font-size: 48px;
}

.subtext,
.image {
    font-size: 18px;
}

.subtext {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 8px 28px;
    font-size: 18px;
    border: none;

}

p {
    margin: 0;
}

#second-section {

    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px 300px 60px 300px;
}

.bold-info {
    font-size: 30px;
}

.images {}

.image {
    padding: 50px;
    flex-direction: column;
    gap: 10px;
    color: #6C7480;
    justify-content: center;

}

.placeholder {
    border: 5px solid #3B82F6;
    min-width: 100px;
    max-width: 350px;
    min-height: 200px;
    max-height: 250px;
    border-radius: 8px;
}

#third-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    padding: 150px 470px 100px 470px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

#quote {
    font-size: 36px;
    font-style: italic;
}